# Docker y Entorno
.env
volumes/
raw_images/
raw_data/
png-images/

# Configuraciones sensibles y estado
configs/influxdb/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.pytest_cache/

# SO local
.DS_Store
Thumbs.db
